body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(20, 20, 158), rgba(46, 2, 87, 0.853));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Lista-de-Tareas {
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Lista-de-Tareas h1{
    text-transform: uppercase;
}

input {
    width: 70%;
    padding: 10px;
}


#nueva-tarea {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #2821e7;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    text-align: left;
    list-style: none;
    padding: 0;
}

ul li {
    border: 1px solid #333;
    margin: 8px 0;
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    display: inline-block;
    height: 20px;
    border-radius: 100%;
    text-align: left;
    color: #000000;
    margin: 0 10px;
    cursor: pointer;
}

li.tachado {
    text-decoration: line-through;
}