body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(45deg, black, green);
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin-bottom: 30px;
}

.navegador h1{
    font-style: italic;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 340px;
    height: 600px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.card-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.card-content {
    padding: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2em;
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.card-description {
    text-align: center;
    font-size: 0.9em;
    color: #ffffff;
    margin: 10px 0;
    flex: 1;
    line-height: 20px;
}