* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", system-ui;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d938a;
    color: white;
    padding: 60px 30px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.search-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 12px;
    width: 300px;
}

.search-container input {
    border: none;
    padding: 5px;
    flex: 1;
}

.search-container button {
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    color: #1d938a;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
}

.header-buttons .Inicio,
.header-buttons .Ingresar {
    background-color: white;
    color: #1d938a;
}

.Ingresar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: white;
    color: #1d938a;
    border-radius: 5px;
    font-size: 16px;
    gap: 20px;
}

section {
    background-image: url('../sources/images/fondo-formulario.png'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la página */
    background-position: center; /* Centra la imagen en la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen de fondo se mantenga fija cuando se desplaza la página */
    color: #fff; /* Opcional: Cambia el color del texto en toda la página para que sea visible sobre el fondo */
    font-family: 'Montserrat', sans-serif; /* Asegura que el texto mantenga la fuente definida */
    padding: 100px;
}

.form-container {
    background-image: url('../sources/images/Fondo-datos.png'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    margin: auto; /* Centra el div en la página */
    position: relative; /* Permite que los elementos absolutos dentro se posicionen en relación a este contenedor */
    width: 660px; /* Ajusta el ancho del contenedor según sea necesario */
    height: 760px; /* Ajusta la altura del contenedor según sea necesario */
    padding: 20px; /* Opcional: Espacio interno del contenedor */
}

.form-header h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #1d938a;
    text-transform: uppercase;
}

.user-form {
    position: absolute;
    bottom: 10%; /* Posiciona el formulario en la parte inferior del contenedor */
    left: 50%; /* Centra el formulario horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición horizontal para centrar el formulario */
    width: 270px; /* Define un ancho para el formulario */
    padding-bottom: 10px; /* Espacio interior del formulario */
    color: #fff; /* Color del texto */
}


.user-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.user-form button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1d938a; /* Color del botón */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.user-form button:hover {
    background-color: #17867c; /* Color del botón al pasar el mouse */
}

.user-form p {
    color: black;
    font-size: 16px;
    padding-top: 30px;
}

.user-form a {
    color: #1d938a;
    font-size: 16px;
}

.user-form a:hover {
    color: #156760;
    font-size: 16px;
}

footer {
    background-image: url('../sources/images/footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    height: 200px;
    color: #ffffff;
    font-size: 18px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.footer-text {
    margin-left: 13%;
    font-size: 40px;
}

.social-buttons {
    display: flex;
    gap: 20px;
    margin-left: -100px;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #1d938a;
    color: white;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.social-btn:hover {
    background-color: #14665f;
}

.derechos-text {
    position: relative;
    bottom: -50px;
    text-align: end;
    color: #1d938a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
