body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(45deg, black, green);
}

.header {
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navegador h1{
    font-style: italic;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 340px;
    height: 600px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.card-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.card-content {
    padding: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.2em;
    margin: 0;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.card-description {
    text-align: center;
    font-size: 0.9em;
    color: #ffffff;
    margin: 10px 0;
    flex: 1;
    line-height: 20px;
}

.logout-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logout-button {
    background-color: #279c14;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.logout-button:hover {
    background-color: #074f0e;
}